:root {
	--color-blue: #0077cc;
	--color-white: #fff;
	--color-black: #000;
	--color-light-grey: #292929;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--color-white);
}

a {
	text-decoration: none;
	color: var(--color-black);
}

.wrapper {
	text-align: center;
	background-color: var(--color-black);
}

header .logo {
	padding: 2.7rem 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.logo {
	font-family: "Advent Pro", sans-serif;
	font-size: 3rem;
	font-weight: normal;
}

.nav {
	display: none;
}

.hero {
	padding: 0 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	letter-spacing: 2px;
	background-image: url(/images/abstract-photo.webp);
	background-size: cover;
}

.hero__heading {
	font-family: "Advent Pro", sans-serif;
	margin: 1.2rem 0;
	font-size: 3.4rem;
	font-weight: 700;
}

.hero__desc {
	margin: 1.2rem 0;
	font-weight: 300;
	font-size: 1.8rem;
}

.btn-book {
	margin-top: 5rem;
	padding: 1rem 4.4rem;
	border-radius: 15px;
	background-color: var(--color-white);
	color: var(--color-blue);
	font-size: 2.6rem;
}

.features-primary {
	padding: 1rem 1.5rem;
}

.features-primary__heading {
	margin-bottom: 1rem;
	font-size: 2.6rem;
	font-weight: 300;
}

.features-primary__heading span {
	color: var(--color-blue);
	font-weight: bold;
}

.features-primary__container:last-of-type {
	display: none;
}

.features-primary .container {
	width: 95%;
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 10px;
	background-color: var(--color-light-grey);
}

.container .features-primary__heading {
	color: var(--color-blue);
	font-weight: 600;
}

.features-primary__paragraph {
	font-size: 1.8rem;
	font-weight: 300;
}

.features-secondary {
	padding: 1.5rem;
}

.features-secondary .container {
	width: 85%;
	margin: 2rem auto;
}

.line {
	width: 70%;
	margin: auto;
	border-top: 2px solid var(--color-blue);
}

.features-secondary__heading {
	margin: 1.5rem 0;
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--color-blue);
}

.features-secondary__paragraph {
	font-size: 2rem;
	font-weight: 300;
}

.contact {
	background-color: var(--color-blue);
	border-radius: 15px;
	padding: 1rem;
}

.contact__heading {
	padding: 1rem 0;
	font-size: 2.6rem;
}

.contact__desc {
	padding: 1rem 0;
	font-size: 1.8rem;
	font-weight: 300;
}

.btn-contact-us {
	display: inline-block;
	margin: 1.5rem 0;
	background-color: var(--color-white);
	padding: 1rem 3rem;
	font-size: 1.8rem;
	border-radius: 15px;
	color: var(--color-blue);
	font-weight: bold;
}

footer {
	padding: 2.5rem 0;
}

footer .logo span {
	color: var(--color-blue);
}

footer .line {
	margin: 1.5rem auto;
}

.footer__paragraph {
	font-size: 1.6rem;
	padding-bottom: 1.5rem;
	font-weight: 300;
}

footer span {
	font-weight: bold;
}
