@import url(/css/components/navigation.css);

.logo {
	padding: 1.3rem;
	cursor: pointer;
	font-family: "Advent Pro", sans-serif;
	font-size: 3rem;
	font-weight: normal;
}

body.index-page .logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
