.company-info {
	padding-bottom: 2rem;
	width: 85%;
	margin: auto;
	background: url("/images/abstract-photo-3.webp");
	background-size: cover;
}

.company-info__heading {
	font-family: "Advent Pro", sans-serif;
	font-size: 5rem;
	color: var(--color-blue);
	margin: 1.5rem 0;
}

.company-info__paragraph {
	margin: 2rem 0;
	font-size: 1.8rem;
	font-weight: 300;
}

.company-info__flex-container {
	width: 100%;
}

.company-info__image {
	width: 100%;
	border-radius: 25px;
}
