@import url(/css/components/buttons.css);

.form-container {
	width: 70%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.contact-info {
	width: 85%;
	margin: auto;
}

.contact-info__container {
	margin: 2rem 0;
}

.contact-info__heading {
	font-family: "Advent Pro", sans-serif;
	font-size: 5rem;
	color: var(--color-blue);
	margin: 1.5rem 0;
}

.contact-info__paragraph {
	font-size: 1.8rem;
	font-weight: 300;
}

.contact-info__subheading {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 1rem 0;
}

.contact-info__flex-container {
	padding: 2rem;
	border-radius: 25px;
}

.contact-info__flex-container:first-child {
	background-image: url(/images/gradient.webp);
	background-position: center;
	background-size: 100%;
}

.contact-info__flex-container .contact-info__paragraph,
.contact-info__flex-container {
	margin: 1.5rem 0;
}

.contact-info__flex-container {
	font-size: 1.4rem;
	font-weight: bold;
}

.contact-info__list {
	list-style: none;
}

.contact-info__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
