@import url(/css/components/buttons.css);

.contact {
	background-color: var(--color-blue);
	border-radius: 15px;
	padding: 1rem;
}

.contact__heading {
	padding: 1rem 0;
	font-size: 2.6rem;
}

.contact__desc {
	padding: 1rem 0;
	font-size: 1.8rem;
	font-weight: 300;
}
