.features-primary {
	background: url("/images/abstract-photo-2.webp");
	background-position: center;
	background-size: 100% 31%;
	padding: 1rem 1.5rem;
	overflow: hidden;
}

.features-primary__heading {
	margin: 1rem 0;
}

.features-primary__heading,
.features-primary__subheading {
	padding: 1rem 0;
	font-size: 2.6rem;
	font-weight: 300;
}

.features-primary__heading span {
	color: var(--color-blue);
	font-weight: bold;
}

.features-primary__container {
	width: 100%;
}

.features-primary__container:last-of-type {
	display: none;
}

.features-primary .container {
	width: 95%;
	margin: 2rem auto;
	padding: 2rem;
	border-radius: 10px;
	border: 1px solid var(--color-blue);
}

.container .features-primary__subheading {
	color: var(--color-blue);
	font-weight: 600;
}

.features-primary__paragraph {
	font-size: 1.8rem;
	font-weight: 300;
}

.features-primary__image {
	width: 85%;
	border-radius: 25px;
}
