.btn {
	background-color: var(--color-white);
	color: var(--color-blue);
	border-radius: 15px;
}

.btn-book {
	margin-top: 5rem;
	padding: 1rem 4.4rem;
	font-size: 2.6rem;
}

.btn-contact-us {
	margin: 1.5rem 0;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	font-weight: bold;
}

.btn-car-info {
	border-radius: 10px;
	font-size: 1.6rem;
	font-weight: 300;
	width: 60%;
	margin: 0.25rem 0;
	padding: 0.5rem 1rem;
	background-color: var(--color-blue);
	color: var(--color-white);
}

.btn-submit {
	margin: 2rem 0;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	font-weight: bold;
}
